@model IEnumerable<OnlinePhotoAlbum.Web.Models.IndexPhotoViewModel>

@{
    ViewBag.Title = "PhotoSearch";
}

    <div id="searchresults" class="row">
        <h3>Все фото, соответсвующие запросу: @ViewBag.Search</h3>
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <br />

                <div class="thumbnail">
                    <a href="~/Photo/Detail/@item.Id">
                        <div class="picture">
                            <img src="@Url.Content(item.Path)" , class="photo">
                        </div>
                    </a>
                </div>

                <div class="caption">
                    <div class="pull-left">
                        @Html.ActionLink("View", "Detail", "Photo", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                    <div class="pull-right">
                        <div id="markScore" class="text-right"><span class="glyphicon glyphicon-star"></span> @item.Mark/5</div>
                        @item.AuthorUsername
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")